<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
        .song {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }

        nav a {
            color: #d64161;
            font-size: 2rem;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('upload') }}">Upload</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
<script>
    async function upload(){
        var input = document.querySelector('input[type=file]');
        var file = input.files[0];
        var title = document.getElementById("title").value;
        var artist = document.getElementById("artist").value;
        //converting file to blob
        var fileBlob = new Blob([new Uint8Array(await file.arrayBuffer())], {type: file.type });

        var fd = new FormData();
        fd.append('file', fileBlob, 'file');
        fd.append("title",title);
        fd.append("artist",artist);

        fetch('http://127.0.0.1:5000/upload', {
          method: 'POST',
          body: fd
        }).then(()=>{
            window.location.replace('http://127.0.0.1:5000/home');
        }
        );
        
    }
    async function preview(){
        var input = document.querySelector('input[type=file]');
        var file = input.files[0];
        var fileBlob = new Blob([new Uint8Array(await file.arrayBuffer())], {type: file.type });

        var player = document.createElement("AUDIO");

        if (player.canPlayType("audio/mpeg")) {
            player.setAttribute("src",URL.createObjectURL(fileBlob));
        }
        player.setAttribute("controls", "controls");
        document.body.appendChild(player);
    }
    function search(){
        var search_string = document.getElementById("search").value;
        window.location.replace('http://127.0.0.1:5000/home?search='+search_string);

    }
</script>
</html>