<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
        .song {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }

        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('upload') }}">Upload</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
<script>
    async function upload(){
        var input = document.querySelector('input[type=file]');
        var file = input.files[0];
        var fileBlob = new Blob([new Uint8Array(await file.arrayBuffer())], {type: file.type });

        
    }
    async function preview(){
        var input = document.querySelector('input[type=file]');
        var file = input.files[0];
        var fileBlob = new Blob([new Uint8Array(await file.arrayBuffer())], {type: file.type });

        var player = document.createElement("AUDIO");

        if (player.canPlayType("audio/mpeg")) {
            player.setAttribute("src",URL.createObjectURL(fileBlob));
        }
        player.setAttribute("controls", "controls");
        document.body.appendChild(player);
    }
</script>
</html>