{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Upload {% endblock %}</h1>
    <label for="title">Title</label>
    <br>
    <input type="text" name="title"
            id="title"
            placeholder="Song Title"
            value="{{ request.form['title'] }}" required></input>
    <br><br>
    <label for="artist">Artist</label>
    <br>
    <input type="text" name="artist"
            id="artist"
            placeholder="Artist Name"
            value="{{ request.form['artist'] }}" required></input>
        <br><br>
        <label for="title">Album</label>
        <br>
        <input type="text" name="album"
                id="album"
                placeholder="Album"
                value="{{ request.form['album'] }}" required></input>
    <br><br>
    <label for="title">Upload Music File</label>
    <br>
    <input type="file" name="upload" id="musicFile">
    <br><br>
    <button type="button" onclick="preview()">preview</button>
    <button type="button" onclick="upload()">upload</button>
{% endblock %}